.App {
    min-height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #0f172a;
    -webkit-box-shadow: 0 0 0 40px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
}
